*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Rubik",sans-serif;
}

.title-bar {
   text-align: center;
   margin-top: 2%;
}

h3 {
   text-align: center;
}

body{
   background-color: #f5f8ff;
}

.main-container{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   width: 100%;
   text-align: center;
}

.container{
   background-color: #ffffff;
   width: 45%;
   min-width: 450px;
   position: relative;
   margin:  50px auto;
   padding: 50px 20px;
   border-radius: 7px;
   box-shadow: 0 20px 35px rgba(0,0,0,0.05);
}

input[type="file"]{
   display: none;
}

input[type = submit] {
   background-color: #025bee;
   border: none;
   text-decoration: none;
   color: white;
   padding: 10px 10px;
   margin: 10px 10px;
   cursor: pointer;
   border-radius: 0.5rem;
   width: 10%;
}

label{
   display: block;
   position: relative;
   background-color: #025bee;
   color: #ffffff;
   text-align: center;
   width: 300px;
   padding: 18px 0;
   margin: auto;
   border-radius: 5px;
   cursor: pointer;
}
.container p{
   text-align: center;
   margin: 20px 0 30px 0;
}

#images, #images-single {
   width: 100%;
   position: relative;
   margin: auto;
   display: flex;
   justify-content: space-evenly;
   gap: 20px;
   flex-wrap: wrap;
}
figure{
   width: 20%;
}
img{
   width: 100%;
}
figcaption{
   text-align: center;
   font-size: 2.4vmin;
   margin-top: 0.5vmin;
}

.result-container {
   margin-top: 5%;
   text-align: center;
}