{% extends "base.html" %} {% block content %}
<div class="result-container centering">
    <h4>Result</h4>
   {% if similarity>0.7 %}
   <div class="main-container">
      <table class="result-table"> 
         <tr style="width: 100%; max-width: 30%; max-height: 50%; height: 40%;">
            <td><img src="./static/result/left.jpg"></td>
            <td><img src="./static/correct.gif" style="max-width: 80%; max-height: 30%; height: 30%;"></td>
            <td><img src="./static/result/right.jpg"></td>
         </tr>
         <tr>
            <td>Matched: {{ left_image_name }}</td>
            <td></td>
            <td>Uploaded: {{ right_image_name }}</td>
         </tr>
      </table>
   </div>
   {% else %}
   <div class="main-container">
      <table class="result-table"> 
         <tr style="width: 100%; max-width: 30%; min-height: 80%; height: 40%;">
            <td><img src="./static/wrong.gif" style="max-width: 80%; min-height: 50%; height: 80%;"></td>
            <td></td>
            <td><img src="./static/result/right.jpg"></td>
         </tr>
         <tr>
            <td>No match found!</td>
            <td></td>
            <td>Uploaded: {{ right_image_name }}</td>
         </tr>
      </table>
   </div>
   {% endif %}
</div>
{% endblock %}
