{% extends "base.html" %} {% block content %}
<div class="result-container centering">
    {% if empty%}
    <h1>{{ empty }}</h1>
    {% else %}
    <h1>Similarity Score</h1>
    <br><br>
   <table class="table table-hover result-table">
      <tbody>
         {% if type!='.tif' %}
         <tr>
            <td>Image Preview</td>
            <td>
               <img class="result-image" src="/static/images/result.jpg" align="middle" />
            </td>
         </tr>
         {% else %}
         <tr>
            <td>Matched Image Preview</td>
            <td>No preview available.</td>
         </tr>
         {% endif %}
         <tr class="similarity">
            <td>Matched Image Name</td>
            <td>
               {{ image_name }}
               {% if similarity>0.7 %}
                  &nbsp;&nbsp;<i class="fa fa-check" style="color: #00e639;"></i>
               {% endif %}
            </td>
         </tr>
         <tr class="similarity">
            <td>Matched Image Similarity</td>
            <td>{{ similarity }}</td>
         </tr>
      </tbody>
   </table>
   {% endif %}
</div>
{% endblock %}
