{% extends "base.html" %} 
{% block content %}
<form action="/result" method="POST" enctype="multipart/form-data">
   <div style="text-align: center;"> 
            <div class="container">
               <h3>Image to compare</h3>
               <br />
               <input
                  type="file"
                  id="file-input-single"
                  name="single-file-inp"
                  onchange="singlePreview()"
               />
               <label for="file-input-single">
                  <i class="fas fa-upload"></i> &nbsp; Choose an image to compare
               </label>
               <br>
               <input type="submit" value="Upload" class="submit-btn">
            </div>
         </div>
      </form>
      {% if empty %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
               <h6 class="alert-msg">Please upload image</h6>
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
           {% endif %}
      
{% endblock %}